  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;  
  }
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
  html {
    background: #000;
    color: #ffffff;
  }
  body{
    padding: 25px;
  }
  marquee{
    z-index: -1;
  }
  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .circulo{
    display: inline-flex;
    font-size: 40px;
    color: yellow;
    
  }
  #topo{
    display: block;
    float: right;
  }
  #player{
    display:none;
  }
  header #data_gif{
    width: 350px;
  }
  header .celebracao_img {
    width: 360px;
  }
  header .div_cat_gif{
    display: flex;
    justify-content: center;
    align-items: center;    
  }
  header .cat_gif {
    width: 230px;
    
    
  }
  .titulo {
    display: inline-flex;
    font-weight: bold;
    font-size: 40px;
    font-family: "Grey Qo", cursive;
  }
  .letras {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main p {
    font-size: 22px;
    margin: 10px 0;
    text-align: justify;
    font-family: "Barlow";
  }
  #img1, #img2, #img3 {
    width: 85%;
    border: 2px solid #FFFF66;  
  }
  #img2 {
    border: 2px solid #ff2266;
  }
  #img3 {
    border: 2px solid #ff7300;
  }
  .seta {
    width: 100px;
    display: flex;
    float: right;
    transform: rotate(-90deg);
    z-index: -1;
  }
  #text_foot{
    color: #6affe0;
    font-style: italic;
    
  }